

//Header
.page-header {
    background: @white;

    .panel.wrapper {
        background: @cream-white;
        color: @grey;

        .panel.header {

            .header.links {

                .customer-name{

                    .action.switch::after{
                        color: @grey;
                    }
                }

                .greet.welcome{
                    span{
                        display: none;
                    }
                }

                li a {
                    color: @lighter-grey;
                }
            }
        }
    }

    .block.block-search {
        width: 100%;
        max-width: 310px;

        .block-content {
            
            .action.search {
                right: 10px;
                top: 10px;
                
                &::before {
                    content: '';
                    display: block;
                    width: 16px;
                    height: 16px;
                    background-color: #666666;
                    background: url('@{baseDir}images/search.png') no-repeat 50% 50%;
            }   }
        }
    
        #search.input-text{
            color: @grey;
            font-size: 15px;
            font-weight: 500;
            font-family: "Poppins-Medium";
            letter-spacing: 0.38px;
            border: 1px solid #a6a6a6;
        }
    }

    .minicart-wrapper{
        margin-top: 6px;

        .action.showcart{
            display: flex;
            align-items: center;

            &::before{
                content: '';
                display: block;
                width: 19px;
                height: 25px;
                margin: 0 10px 0 0;
                background: url('@{baseDir}images/bag.png') no-repeat 50% 50%;
            }

            .counter.qty{
                background: @purple;
                color: @white;
                font-size: 16px;
                font-family: "OpenSans-Bold"
            }
        }
    }

    .minicart-wrapper.active{
        .block-minicart{
            .block-content >{
                .items-total{
                    span{
                        font-family: "Poppins-Medium";
                    }
                }
                .subtotal{
                    .label{
                        font-family: "Poppins-Medium";
                    }
                }

                .minicart-items-wrapper{
                    .minicart-items{
                        .product-item-name{
                            a{
                                font-family: 'Poppins-Medium';
                                color: @grey-rock;
                                font-size: 15px;
                            }
                        }
                        .product-item-details{
                            .price{
                                font-family: 'Poppins-Medium';
                            }
                        }
                        .product-item-pricing .label{
                            font-family: "Poppins-Medium";
                        }
                        .update-cart-item{
                            background: @purple;
                            box-shadow: none;
                            font-size: 15px;
                            color: @white;
                            font-family: 'OpenSans-Bold';
                            &:hover{
                                background: @dark-purple;
                            }
                        }
                    }

                }
            

            } 
            .actions >{
                .secondary{
                    a{
                        font-family: 'Poppins-Medium';
                        color: @grey-rock;
                        font-size: 15px;
                    }
                }
            } 
            .primary .action.primary{
                background: @orange;
                font-family: "Poppins-Bold";
                border: 0;
                &:hover{
                    background: @dark-orange;
                }
            }
        }
    }
}

.sections.nav-sections{
    margin-bottom: 14px;
    .section-item-content{
        background: @white;

        .navigation {
            background: @white;
        
            li a span {
                color: @bright-grey;
                font-family: "Poppins-Medium";
                font-size: 16px;
                font-weight: 500;
            }
        }
    }
}

//Modal de aviso se deseja excluir
.modals-wrapper{
        .modal-popup.confirm{
            .modal-inner-wrap{
                 .modal-content{
                    font-family: 'Poppins-Medium';
                    font-size: 15px;
                 } 
            }
        }
        .modal-popup{
            .modal-footer{
                button{
                    box-shadow: none;
                    color: @white;
                    background: @orange;
                    font-family: 'Poppins-Bold';
                    &:hover{
                        background: @dark-orange;
                    }
                }
            } 
        } 
}


//Media Queries

@media screen and (max-width:767px) {
    .page-header{
        .block.block-search{
            width: 100%;
            max-width: 100%;
        }

        .minicart-wrapper{
            margin: 10px;
        }

        .header.content{
            .span::before{
                font-size: 28px;
            }
            a{
                img{
                    width: 140px;
                }
            }
        }
         
    } 
}

@media screen and (max-width:845px) {
    .sections.nav-sections{
        .section-item-content{
            .navigation{
                ul{
                    li{
                        a{
                            span{
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }

    }
}




