// Main Page



.cms-index-index main{
    padding-left: 0;
    padding-right: 0;
}
.page-main{
    .flex-cards{
        display: flex;
        justify-content: space-around;
        margin: 20px 10px 20px 10px;

            div{
                max-height: 737px;
                a{
                    img{
                        max-width: 100%;
                    }
                }
            }

    }
}


@media screen and (max-width:425px) {
    .page-main{
        .flex-cards{
            display: flex;
            flex-wrap: wrap;
            div{
                a{
                    img{
                        width: 70%;
                        height: 90%;
                        margin: 0 60px 20px 60px;
                    }
                }
            }
        }
    }  
}

@media screen and (max-width:386px) {
    .page-main{
        .flex-cards{
            div{
                a{
                    img{
                        width: 70%;
                        height: 90%;
                        margin: 0 50px 20px 50px;
                    }
                }
            }
        }
    }  
}
