.page-footer {
    background-color: #0f0f0f;

    .footer-links-container {
        display: flex;
        justify-content: space-around;

        .footer-links {
            h3 {
                color: #ffffff;
<<<<<<< HEAD
                font-family: armada, sans-serif;
=======
                font-family: Armada;
>>>>>>> feature/header
                font-style: normal;
                font-weight: 400;
            }

            ul {
                list-style: none;
                padding: 0;

                li {
                    a {
                        cursor: pointer;
                        color: #ffffff;
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}
