// Header

.page-header {
    color: @grey;

    .panel.wrapper {
        background: @cream-white;
        color: @grey;

        .panel.header {
            .header.links {
                .greet.welcome {
                    span {
                        display: none;
                    }
                }

                li a {
                    color: @grey;
                }

                .switcher-language {
                    .switcher-trigger {
                        span {
                            font-size: 14px;
                        }

                        &::after {
                            margin-left: 10px;
                        }
                    }
                    .switcher-dropdown {
                        li {
                            a {
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
            }
        }
    }
    // // .header {
    // //     display: flex;
    // //     align-items: center;
    // // }
    // .logo {
    //     margin: 0;
    // }
}
.sections.nav-sections {
    background: @white;
    margin: 15px 0 0 0;

    .section-item-content {
        .section-item-content {
            .header.links {
                display: none;
            }
        }
    }
    .navigation {
        background: @white;

        ul {
            display: inline-block;
            margin-left: 10px;

            li {
                margin-left: 20px;

                display: inline-block;

                &:first-child {
                    margin-left: 0;
                }

                a {
                    color: @black;
                    font-family: "Montserrat";
                    text-transform: uppercase;
                    font-size: 18px;
                    font-weight: 500;
                    cursor: pointer;
                    text-decoration: none;
                }
                ul {
                    li {
                        margin: 0;
                    }
                }
            }

            li a span {
                color: @black;
                font-family: "Montserrat";
                text-transform: uppercase;
                font-size: 18px;
                font-weight: 500;
            }
            div {
                display: inline-block;
                a {
                    color: @black;
                    font-family: "Montserrat";
                    text-transform: uppercase;
                    font-size: 18px;
                    font-weight: 500;
                    cursor: pointer;
                    text-decoration: none;
                    margin: 20px;
                }
                &:last-child {
                    .suporte-login-links__login {
                        margin-left: 86px;
                        font-weight: bold;

                        a {
                            color: @black;
                            font-family: "Montserrat";
                            text-transform: uppercase;
                            font-size: 18px;
                            font-weight: 500;
                            cursor: pointer;

                            &:hover {
                                text-decoration: none;
                            }
                        }

                        a:last-child {
                            margin-left: 132px;
                            color: @black;
                            font-family: "Montserrat" sans-serif;
                            text-transform: uppercase;
                            font-size: 18px;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1086px) {
    .sections.nav-sections {
        .navigation {
            ul {
                li {
                    margin: 0 0 0 10px;
                }
                div {
                    a {
                        margin: 0 0 0 20px;
                    }
                    &:last-child {
                        .suporte-login-links__login {
                            margin-left: 40px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 995px) {
    .sections.nav-sections {
        .navigation {
            ul {
                margin-left: 0;
                li {
                    margin: 0 0 0 5px;
                    a {
                        span {
                            font-size: 18px;
                        }
                    }
                }
                div {
                    a {
                        margin: 0 0 0 5;
                        font-size: 18px;
                    }
                    &:last-child {
                        .suporte-login-links__login {
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 930px) {
    .sections.nav-sections {
        .navigation {
            ul {
                li {
                    margin: 0 0 0 5px;
                    a {
                        span {
                            font-size: 16px;
                        }
                    }
                }
                div {
                    a {
                        margin: 0 0 0 5;
                        font-size: 16px;
                    }
                    &:last-child {
                        .suporte-login-links__login {
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 815px) {
    .page-header {
        .header.content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .logo {
                margin: auto;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .sections.nav-sections {
        .navigation {
            ul {
                width: 100%;
                li {
                    display: block;
                    margin: 0;
                }

                div {
                    a {
                        margin: 0;
                    }
                    &:last-child {
                        .suporte-login-links__login {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}
