//Category path

.page-wrapper {
    .breadcrumbs {
        .items {
            li {
                a {
                    color: @black;
                }
            }
        }
    }
}

// product button
.page-wrapper {
    .page-main {
        .columns {
            .column.main {
                .product-info-main {
                    .bundle-actions {
                        button {
                            background-color: @black;
                            border: none;
                        }
                    }
                    .product-reviews-summary.empty {
                        .reviews-actions {
                            .action.add {
                                font-family: "Montserrat";
                                font-weight: 300;
                                color: @black;
                            }
                        }
                    }
                    .page-title-wrapper.product {
                        .page-title {
                            span {
                                font-family: "Montserrat";
                                font-weight: 500;
                            }
                        }
                    }
                    .product-add-form {
                        form {
                            .box-tocart {
                                .fieldset {
                                    .actions {
                                        button {
                                            background-color: @black;
                                            border: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .products.wrapper.grid.products-grid {
                    .products.list.items.product-items {
                        .item.product.product-item {
                            .product-item-info {
                                .product.details.product-item-details {
                                    .product-item-inner {
                                        .product.actions.product-item-actions {
                                            .actions-primary {
                                                form {
                                                    button {
                                                        background: @black;
                                                        border: none;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                // Checkout page
                .cart-container {
                    .checkout-methods-items {
                        .item {
                            .action.primary {
                                background: @black;
                                border: none;
                            }
                            .action.multicheckout {
                                color: @black;
                            }
                        }
                    }
                    .cart.main.actions {
                        .action.update {
                            background: @black;
                            border: none;
                            color: @white;
                        }
                    }
                    .cart-discount {
                        .content {
                            #discount-coupon-form {
                                .primary {
                                    .action.apply.primary {
                                        background: @black;
                                        border: none;
                                    }
                                }
                            }
                        }
                        .title {
                            strong {
                                color: @black;
                            }
                        }
                    }
                }
                .checkout-container {
                    .authentication-wrapper {
                        .action-auth-toggle {
                            span {
                                color: @black;
                            }
                        }
                    }
                }

                .checkout-success {
                    .primary {
                        .action.primary.continue {
                            background: @black;
                            border: none;
                        }
                    }
                }

                #registration {
                    &:nth-child(4) {
                        .action.primary {
                            background: @black;
                            border: none;
                        }
                    }
                }
            }
        }
    }
}
.checkout-shipping-method {
    .actions-toolbar {
        .primary {
            .button.action {
                background: @black;
                border: none;
            }
        }
    }
    .payment-option-title {
        .action-toggle {
            color: @black;
        }
    }
}

.checkout-payment-method {
    .payment-option-content {
        .form-discount {
            .actions-toolbar {
                .primary {
                    .action.action-apply {
                        background: @black;
                        border: none;
                        color: @white;
                    }
                }
            }
        }
    }
    .payment-method-content {
        .actions-toolbar {
            .primary {
                .action.primary {
                    background: @black;
                    border: none;
                }
            }
        }
    }
}
